In [22]:
# Login Credentials
uname="gistcse"
pwd="Gist@cse2"
user=input("User Name:")
password=input("Password:")
if user==uname and password==pwd:
    print("Login Successful...!")
else:
    if user!=uname and password==pwd:
        print("Invalid user name..!")
    elif user==uname and password!=pwd:
        print("Wrong Password..!")
    else:
        print("xx.. Login Failed.. xx")

User Name:lkdfjisd
Password:dkjfjl
xx.. Login Failed.. xx

#### Loops in python
- iteration of statements
- for,while loops
    - **For Loop**
        - **syntax**
            - for iterator in iterable:
                - statements
            - for iterator in range(len(iterable)):
                - statements
        - default incrementation is 1

In [23]:
# why loops?
# display your name for 5times
print("A")
print("A")
print("A")
print("A")
print("A")

A
A
A
A
A

In [24]:
for val in range(1,10): # 1,2,3,4,..9
    print("A")

A
A
A
A
A
A
A
A
A

In [25]:
for val in range(1,11):
    print(val,end=" ")

1 2 3 4 5 6 7 8 9 10

In [26]:
for val in range(10,0,-1): # (start,stop,step_count)
    print(val,end=" ")

10 9 8 7 6 5 4 3 2 1

In [27]:
for val in range(1,20,2):
    print(val,end=" ")

1 3 5 7 9 11 13 15 17 19

In [28]:
# write a python program to print nth multiplication table
# multiplication table for 9
'''
9x1=9
9x2=18
9x3=27
.....
9x10=90
'''
n=int(input("enter the number:"))
for v in range(1,11):
    print(n,'x',v,'=',n*v)

enter the number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [29]:
for ch in "GIST":
    print(ch)

G
I
S
T

#### while Loop
- condition based loop
- user incrementation 
- **syntax**
    - while condition:
        - statements

In [1]:
# write a python program to print the even no.s present in a range
#using while
lw,up=int(input()),int(input()) # 1,10
while lw<=up: # universal truth-->infinite loop
    if lw%2==0:
        print(lw,end=" ")
    lw+=1 #==up

1
20
2 4 6 8 10 12 14 16 18 20

In [6]:
# while loop in reverse order
x,y=int(input()),int(input()) # 20,1
while x>=y:
    if x%2==1:
        print(x,end=" ")
    x-=1

20
1
19 17 15 13 11 9 7 5 3 1

#### Nested Loops
- loops within loop
    - i loop
        - j loop

#### 2 iterables at a time
. . . . <br>
. . . . <br>
. . . .

In [15]:
for r in range(1,6):
    for cl in range(1,5):
        print('*',end=" ")
    print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [16]:
#iterate col w r t row
for r in range(1,6):
    for c in range(1,r+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [17]:
# write a python program to print the following pattern
* * * *
  * * *
    * *
      *

SyntaxError: invalid syntax (934475003.py, line 2)

In [18]:
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

SyntaxError: invalid syntax (965164629.py, line 1)

In [21]:
for row in range(1,6):
    for col in range(1,6):
        if row==col:
            print("@",end=" ")
        elif row>col:
            print("#",end=" ")
        else:
            print("*",end=" ")
    print()

@ * * * *
# @ * * *
# # @ * *
# # # @ *
# # # # @

#### Functions
- Group/collection of statements executed to perform a specific task
- There 2types of functions
    1. Pre-defined/built in functions
        - These functions were defined when the language is developed
        - these functions are highlighted in green colour
        - Ex:print(),input(),int(),float(),type(),bool(),bin(),dir(),str(),set(),dict(),enumerate(),sum(),sorted(),list(),tuple(),max(),min() etc
        - a user can call and use those functions
    2. User Defined

In [22]:
print()
input()
sum()
int()
max()
min()
list()
tuple()
dir()
help()
type()
bin()
ord()
chr()
enumerate()
open()
sorted()
str(),tuple(),list(),set(),dict()

cvb

TypeError: sum() takes at least 1 positional argument (0 given)

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [24]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

#### User defined Functions
- These functions are defined by user
- def is the keyword that represents function
- **syntax**
    - def function_name(arguments)
        - statements
- recursive function
- non-recursive(mostly used)
- **Features of function**
     - reusability of code
     - follows the modularity
- function definition
    - variables used here called as arguments
    - reference var
- function call
    - parameters ,actual data points

In [26]:
# def function_name(arguments):
def example():
    print("working with functions")
    
example()

working with functions

In [33]:
# function with argument and with return
def add(x,y):
    return x+y

def display(a,b):
    return f"I am {a} and my friend is {b}"

print("sum=",add(9,10)) # function call
display('Kavitha','Bhavya')

sum= 19

'I am Kavitha and my friend is Bhavya'

In [30]:
display("Ruthu",'vanitha') # fun call

'I am Ruthu and my friend is vanitha'

In [34]:
# function with argument and without return
def table(n):
    for i in range(1,11):
        print(n,'x',i,'=',n*i)
    
table(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [35]:
# function without argument and with return
def empty():
    #local variables
    a,b=int(input()),int(input())
    return a**b

empty()

9
5

59049

In [36]:
# function without args and without return

def final():
    print("no.of occurences=",st.count(ch))
    
st="college"
ch='e'
final()

no.of occurences= 2

In [40]:
# define a function that prints the prime no.s in a range
#prime no.s has only 2 factors,i.e., 1 & n itself
num=int(input("enter the number:"))
nfs=0
for v in range(1,num+1): # 10:1,2,5,10
    if num%v==0:
        print(v,end=" ")
        nfs+=1
if nfs==2:
    print("given number is prime")
else:
    print("non prime")

enter the number:11
1 11 given number is prime

In [43]:
def is_prime(n):
    count=0
    for v in range(1,n+1):
        if n%v==0:
            count+=1
    if count==2:
        return True
    else:return False
    
is_prime(11)

True

In [42]:
is_prime(10)

False

In [45]:
def is_prime(n):
    count=0
    for v in range(1,n+1):
        if n%v==0:
            count+=1
    if count==2:
        return True
    else:return False
    
#is_prime(11)
lw,up=int(input()),int(input())
for v in range(lw,up+1):
    if is_prime(v):
        print(v,end=" ")

1
100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [46]:
#Recursive functions
# function calling itself
# factorial of number # n-->n*n-1*n-2*n-3..n*(n-n-1)..1
#5--5*4*3*2*1
val=int(input())
fact=1
for dig in range(val,0,-1):
    fact*=dig
print("factorial value=",fact)

5
factorial value= 120

In [47]:
#finding factorial value using function
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial(4)

24

#### Strings
- Group of characters
- anything that is enclosed in the quotations called as string
- a single character is also a string
- str() that represents the string data
- str=''/""/''' '''

In [51]:
#String declaration
name='Afifa'
frnd="Bhavana"
other='''Susmitha'''
clsmt=input("enter the name:") # Karishma
print(name,frnd,other,'and',clsmt,"are friends",end=".")
for ch in name:
    print(ch)

enter the name:Karishma
Afifa Bhavana Susmitha and Karishma are friends.A
f
i
f
a

In [52]:
for ch in clsmt: # iteration of string
    print(ch,end=" ")

K a r i s h m a

In [58]:
# iteration of string using index
for ix in range(len(name)): # affia:5 characters:0 to 4
    print(ix,name[ix],sep=":")

0:A
1:f
2:i
3:f
4:a

#### String Methods
- the functions can be applied on only strings
- dir(str)

In [59]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [60]:
#format_map,isnumeric,lower,partition
help(str.format_map)

Help on method_descriptor:

format_map(...)
    S.format_map(mapping) -> str

    Return a formatted version of S, using substitutions from mapping.
    The substitutions are identified by braces ('{' and '}').

In [61]:
help(str.isnumeric)

Help on method_descriptor:

isnumeric(self, /)
    Return True if the string is a numeric string, False otherwise.

    A string is numeric if all characters in the string are numeric and there is at
    least one character in the string.

In [67]:
num="t123"
num.isnumeric()

False

In [68]:
clg="Geethanjali Inst of Science & Technology"
clg.isalpha()

False

In [69]:
"ramya".isalpha()

True

In [70]:
"CSE2".isalnum()

True

In [72]:
pwd="CSE123"
pwd[3].isdigit()

True

In [73]:
pwd[3].isnumeric()

True

In [74]:
clg

'Geethanjali Inst of Science & Technology'

In [75]:
clg.lower()

'geethanjali inst of science & technology'

In [76]:
clg.upper()

'GEETHANJALI INST OF SCIENCE & TECHNOLOGY'

In [77]:
clg.capitalize()

'Geethanjali inst of science & technology'

In [78]:
clg.title()

'Geethanjali Inst Of Science & Technology'

In [80]:
"I am {0} and working at {1}".format('Ruthu','Aylin Technologies')

'I am Ruthu and working at Aylin Technologies'

In [87]:
# split
#strip,lstrip,rstring
#center
#zfill

In [88]:
#str.split
clg

'Geethanjali Inst of Science & Technology'

In [89]:
clg.split()

['Geethanjali', 'Inst', 'of', 'Science', '&', 'Technology']

In [91]:
#strip will remove the spaces from either side of the string
a="    hello"
b="hey       "
c="    hi hello      "
a.lstrip()

'hello'

In [92]:
b.rstrip()

'hey'

In [93]:
c.strip()

'hi hello'

In [94]:
a.zfill(40)

'0000000000000000000000000000000    hello'

In [95]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [96]:
clg.casefold()

'geethanjali inst of science & technology'

In [97]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [101]:
clg.center(5)

'Geethanjali Inst of Science & Technology'

In [102]:
#str.join
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [105]:
'@'.join([name,clsmt,frnd,other]) # multiple strings together

'kavya@Karishma@Bhavana@Susmitha'

In [104]:
name="kavya"
name.center(40)

'                 kavya                  '