##### Today Concepts
- continue with strings
- Data Structures
    - tuple
    - list
    - set
    - dict

#### String methods
- functions can be applied on strings only
- str.count(ch)
- index
- replace
- find
- startswith
- endswith
- isalpha
- isdigit/isnumeric
- islower and lower
- isupper and upper
- casefold
- swapcase
- captilaize
- title
- center
- format
- split
- strip
    - lstrip
    - rstrip
- zfill
- join etc

In [3]:
#read str data from user
clg=input("your college name:")
#Geethanjali Institute of Science and Techonlogy
# apply all the str methods
print(clg.startswith('G'))
print(clg.endswith('y'))
print(clg.count('t')) # frequency of t-->no.of occurences of t in clg
print(clg.find('S')) # 
print(clg.index('S'))

your college name:student
False
False
2
-1

ValueError: substring not found

##### if you search for non-existed substring of the str
- find will give -1 value
- index will raise the Value Error

In [9]:
#replace,capitalize,title,swapcase,casefold,lower,upper
new=input("Enter the string:") # Nellore District
print(new.replace('e','a'))
print(new.capitalize()) # capitalizes the first char only of str
print(new.title()) # capitalizes the first char of each word in str
print(new.swapcase())
print(new.casefold())
print(new.lower())
print(new.upper())
new

Enter the string:GIST Located at NELLORe district
GIST Locatad at NELLORa district
Gist located at nellore district
Gist Located At Nellore District
gist lOCATED AT nellorE DISTRICT
gist located at nellore district
gist located at nellore district
GIST LOCATED AT NELLORE DISTRICT

'GIST Located at NELLORe district'

In [12]:
#working with string methods using functions
#madam,dad,mom=palindromes
def str_palindrome(st):
    if st==st[::-1]:
        return True
    else:
        return False
    
words=input("enter the words:").split() # space separated words
for word in words:
    if str_palindrome(word):
        print(word)

enter the words:hello mom hi madam hey dad how are you all?
mom
madam
dad

In [13]:
print(str_palindrome("madam"))
print(str_palindrome("hello"))
print(str_palindrome("mom"))

True
False
True

#### string traversal using index
- index is the notation of data item in the memory
- n length of string=student=7 length str
    - index is of 2types
        - formal indexing
            - 2types of representations
                - +Ve indexing
                    - travers from left to right of the iterable
                    - starts from 0 to len(iterable)-1
                    - default indexing
                - -ve indexing
                    - starts from -1 to -infinite
                    - travers from right to left
        - fancy indexing

In [16]:
word="Student"
''' S t u d e n t
    =============
    0 1 2 3 4 5 6 '''

#each char of str
print(word[0]) # 1st char
word[3]#

S

'd'

In [17]:
#Student
word[-1]

't'

In [18]:
word[-2]# last but one char

'n'

In [19]:
word[-3]# last but two cahr

'e'

In [22]:
word[-7]# 7th char from last

'S'

In [27]:
# slicing
#- a piece/portion of the thing
#- extarcting the substring/some part of the entire string using index
line="hi madam hello mom hey dad how are you all?"
line[9],line[13]

('h', 'o')

In [29]:
#extarct hello from the line
line[9:14]

'hello'

In [32]:
#dad
line[23:26]

'dad'

In [33]:
#slicing in reverse order:you:y o u--> u
line[-5:-7] # line[-7:-5]

''

In [35]:
line[-8:-5] 
# you should travers from left to right in reverse indexing also

'you'

In [37]:
#[::step_count]-->line
#alternate chars in the given string
line[::]

'hi madam hello mom hey dad how are you all?'

In [38]:
line[:]

'hi madam hello mom hey dad how are you all?'

In [40]:
line[::2] #alternate chars

'h aa el o e a o r o l?'

In [41]:
#alternate characters in reverse
line[::-2]

'?l o r o a e o le aa h'

#### Data Structures in python
- Way of organizing the data in a specific format is called data structure
- 4 data structures 
    1. tuple
        - It is one of the data structures of python used to store different data items at a time
        - It is represented by paranthesis ()
        - tuple() is the pre defined function
        - it is immutable in nature
        - **tuple methods**
            - count()
            - index()
    2. list
        - One of the most important data structures of python used to store different data items at a time
        - It is represented by []
        - list() is the pre defined function
        - It is mutable in nature
        - **list methods**
            - append(new)
                - that adds new data item at the end of the list or new data structure
            - insert(pos,new)
                - adds the new data at the specified index
            - index(value/data item)
                - index value of the perticular data item
            - extend()
                - it expands the existed list
            - copy()
                - copies the list of items
            - clear()
                - delete the elements from the list
            - pop()
                - deletes the last item by default from the list and returns that element
            - pop(index)
                - element will be deleted at the index you mentioned
            - remove("data")
                - specific data/element will be removed
            - sort()
                - arranges the list in ascending order of items
            - reverse()
                - reverse the order of list
            
    3. set and
        - a set is a well defined collection of objects
        - set is mutable in nature and avoids duplication of objects/elements/data items
        - set() is the predefined function
        - it is represented by {}
        - there is no index/slicing in the set
        - **set methods**
            - union
            - intersection
            - disjoint
            - difference
            - subset
            - superset
            - symmetric_difference
            - update
            - add
            - copy
            - clear
            - discard
            - pop
    4. dictionary
        - It is a paired data structure contains key & value
        - It is represented by {key:value}
        - dict() is the predefined function
        - Dictionary (Physical) mechanism
        - word:meaning -->key:value
        - **Features of key**
            - key is like index of the value
            - key should be unique
            - key can be any datatype
        - **Features of values**
            - data is stored in values
            - value can be any datatype or data structures
            - value might be similar
            
        - **Dict methods**

In [49]:
#create the tuple
t=tuple()
t2=(12,'hello',bin(10),True,9.5,3+4j,12,'hey',34,'hey',12,34,12,56)
print(t2)

(12, 'hello', '0b1010', True, 9.5, (3+4j), 12, 'hey', 34, 'hey', 12, 34, 12, 56)

In [50]:
#count,index
"frequency of 12=",t2.count(12)

('frequency of 12=', 4)

In [48]:
#index
print(t2.index('hey'))

7

In [51]:
#find the index of repeated data item
print(t2.index(34))

8

In [52]:
#iteration of tuple
for item in t2:
    print(item)

12
hello
0b1010
True
9.5
(3+4j)
12
hey
34
hey
12
34
12
56

In [53]:
#if the user wants to add new item to the existed tuple->no posibility
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [54]:
l=list() # list initialization
print(l)

[]

In [55]:
# creating the list using range
li=list(range(1,20))
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
#creating the list from the user/keyboard
# print the integers persent in the list
user=input().split()
print(user)
for item in user:
    if item.isdigit():
        print(item)

i am 123 456 890 and 908
['i', 'am', '123', '456', '890', 'and', '908']
123
456
890
908

In [61]:
#print the complex no.s from the following list
li2=[9+3j,90,56,78,'hi',2+3j,'hello',True]
for item in li2:
    if type(item)==complex: # float/str/int/bool/bin
        print(item)

(9+3j)
(2+3j)

In [62]:
# list methods
li2.append('new')

In [65]:
li2.append("hello")
li2

[(9+3j), 90, 56, 78, 'hi', (2+3j), 'hello', True, 'new', 'hello']

In [66]:
li2.append([1,2,3,4])
print(li2)

[(9+3j), 90, 56, 78, 'hi', (2+3j), 'hello', True, 'new', 'hello', [1, 2, 3, 4]]

In [68]:
li2.insert(4,'ap')

In [70]:
print(li2)

[(9+3j), 90, 56, 78, 'ap', 'hi', (2+3j), 'hello', True, 'new', 'hello', [1, 2, 3, 4]]

In [71]:
li2.index(78)

3

In [72]:
new=[2,3,4,5,2,3,4,5,8,9,22,2,2,2,3,10]
print(new.count(2))

5

In [73]:
n=new.copy()
print(n)

[2, 3, 4, 5, 2, 3, 4, 5, 8, 9, 22, 2, 2, 2, 3, 10]

In [74]:
n.extend([9,8,7,6])
print(n)

[2, 3, 4, 5, 2, 3, 4, 5, 8, 9, 22, 2, 2, 2, 3, 10, 9, 8, 7, 6]

In [77]:
n.pop()

7

In [78]:
print(n)

[2, 3, 4, 5, 2, 3, 4, 5, 8, 9, 22, 2, 2, 2, 3, 10, 9, 8]

In [79]:
n.pop(10) # value at index 10

22

In [80]:
n

[2, 3, 4, 5, 2, 3, 4, 5, 8, 9, 2, 2, 2, 3, 10, 9, 8]

In [83]:
li2.remove('ap')

In [84]:
print(li2)

[(9+3j), 90, 56, 78, 'hi', (2+3j), 'hello', True, 'new', 'hello', [1, 2, 3, 4]]

In [85]:
li2.remove('new')
print(li2)

[(9+3j), 90, 56, 78, 'hi', (2+3j), 'hello', True, 'hello', [1, 2, 3, 4]]

In [86]:
#sort the list
man=[89,34,56,78,10,34,56,90,87,23,10,90,34,56]
print(man)

[89, 34, 56, 78, 10, 34, 56, 90, 87, 23, 10, 90, 34, 56]

In [87]:
print(sorted(man)) #sort
print(man.sort())
print(man.reverse())

[10, 10, 23, 34, 34, 34, 56, 56, 56, 78, 87, 89, 90, 90]
None
None

In [88]:
help(man.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [93]:
print("total no.of list items=",len(man))
print("min value=",min(man))
print("max value=",max(man))
print("sum of the list=",sum(man))

total no.of list items= 14
min value= 10
max value= 90
sum of the list= 747

In [94]:
# write a python program to print the vowels present in the str
# write a python program to print sum of the middle digits of the list
# write a python program to find the unique list of elements(if duplicates exist)

In [95]:
#printing vowels
word=input("enter the word:")
#a,e,i,o,u,A,E,I,O,U
for ch in word:
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='e' or ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
        print(ch,end=" ")

enter the word:working WITH VoweLS using STRING methods
o i I o e i I e o

In [105]:
words=input("Enter the string:")
vowels="aeiouAEIOU"

for ch in words:
    if ch in vowels:
        print(ch,end=" ")
print()
print("lower case vowels are",end=":")
for ch in words:
    if ch in vowels:
        if ch.islower():
            print(ch,end=" ")
print("\nupper case vowels are ",end=":")
for ch in words:
    if ch in vowels:
        if ch.isupper():
            print(ch,end=" ")

Enter the string:WORKing with String METhods usING Vowels TUPLES
O i i i E o u I o e U E
lower case vowels are:i i i o u o e
upper case vowels are :O E I U E

In [106]:
# Day4 Task
#write a python program to read n space separated 3 digit values from the user
#and find the sum of middle digits in it

123 456 890 hi

['123', '456', '890', 'hi']

In [112]:
nums=[123,456,789,987,345,673,290]
# sum of the middle digits of each value in the list
#2+5+8+8+4+7+9=43
total=0
li=[]
for num in nums:
    li.append(str(num))
for v in li:
    total+=int(v[1])
total

43

In [116]:
#list of duplicates
dup=[23,56,78,23,45,9,8,7,23,45,9,8,1,20]
for i in dup:
    if dup.count(i)==1: # values,some values ignored
        print(i)
print()
unq=[]
for v in dup:
    if v not in unq:
        unq.append(v)
print(unq)

56
78
7
1
20

[23, 56, 78, 45, 9, 8, 7, 1, 20]

In [117]:
dup

[23, 56, 78, 23, 45, 9, 8, 7, 23, 45, 9, 8, 1, 20]

In [118]:
set(dup)

{1, 7, 8, 9, 20, 23, 45, 56, 78}

In [119]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [123]:
A={90,45,67,12,34,90,45,67,45,87,23,7,4,5,19,59,34,23,89}
print(A)
B={34,56,78,90,23,45,78,94,23,87,90,34,45,23,8,7,12}
print(B)

{34, 67, 4, 5, 7, 12, 45, 19, 87, 23, 89, 90, 59}
{34, 7, 8, 12, 45, 78, 23, 87, 56, 90, 94}

In [121]:
A[0]

TypeError: 'set' object is not subscriptable

In [124]:
A.intersection(B) # common elements of both sets

{7, 12, 23, 34, 45, 87, 90}

In [125]:
A.union(B) # combination of both sets

{4, 5, 7, 8, 12, 19, 23, 34, 45, 56, 59, 67, 78, 87, 89, 90, 94}

In [127]:
A.difference(B) #A-B

{4, 5, 19, 59, 67, 89}

In [129]:
A-B # deletes the elements of B present in A

{4, 5, 19, 59, 67, 89}

In [130]:
B.issubset(A)

False

In [131]:
A.issuperset(B)

False

In [132]:
#disjont-->not connected->no common elements
C={3,4,5,6,1}
D={9,8,7,2}
C.isdisjoint(D)

True

In [133]:
#symmetric_difference
# non-similar elements in both sets
A.symmetric_difference(B)

{4, 5, 8, 19, 56, 59, 67, 78, 89, 94}

In [134]:
C.symmetric_difference(D)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [135]:
C.add(11)

In [136]:
C

{1, 3, 4, 5, 6, 11}

In [137]:
C.update({12,34,56})
C

{1, 3, 4, 5, 6, 11, 12, 34, 56}

In [138]:
C.update({3,98,20,7})
C

{1, 3, 4, 5, 6, 7, 11, 12, 20, 34, 56, 98}

In [139]:
C.difference_update(D) #

In [140]:
C

{1, 3, 4, 5, 6, 11, 12, 20, 34, 56, 98}

In [141]:
A.intersection_update(B) # updating A with intesection(A,B)

In [142]:
A

{7, 12, 23, 34, 45, 87, 90}

In [143]:
A.remove(45)
A

{7, 12, 23, 34, 87, 90}

In [144]:
A.remove(12)

In [145]:
A

{7, 23, 34, 87, 90}

In [146]:
A.discard(90)

In [147]:
A

{7, 23, 34, 87}

In [148]:
new=A.copy()
new

{7, 23, 34, 87}

In [149]:
A.clear()

In [150]:
A

set()

In [151]:
d=dict()
d2={}
print(d)

{}

In [154]:
# dictionary
dic={1:'hi','clg':"GIST",'dept':['CSE','IT','AIML','ECE'],
    'year':(1,2,3,4)}
print(dic)

{1: 'hi', 'clg': 'GIST', 'dept': ['CSE', 'IT', 'AIML', 'ECE'], 'year': (1, 2, 3, 4)}

In [155]:
#by using key-->index
#dict[key]=value
dic['dept']

['CSE', 'IT', 'AIML', 'ECE']

In [156]:
dic['year']

(1, 2, 3, 4)

##### dict methods
- dict.keys()
    - list of all the keys
- dict.values()
    - list of all the values
- dict.items()
    - list of tuples of items-->[(k,v),(k2,v2)...]
- dict.popitem()
    - last item will be deleted
- dict.update()
    - update the existed dict
- dict.pop()
    - specific item will be deleted
- dict.copy()
    - copies
- dict.clear()
    - removes all the items from dict

In [158]:
dic.keys()

dict_keys([1, 'clg', 'dept', 'year'])

In [159]:
dic.values()

dict_values(['hi', 'GIST', ['CSE', 'IT', 'AIML', 'ECE'], (1, 2, 3, 4)])

In [160]:
dic.items()

dict_items([(1, 'hi'), ('clg', 'GIST'), ('dept', ['CSE', 'IT', 'AIML', 'ECE']), ('year', (1, 2, 3, 4))])

In [161]:
dic.update({'prg':['Python','C','Java'],'marks':(90,96,95)})

In [162]:
dic

{1: 'hi',
 'clg': 'GIST',
 'dept': ['CSE', 'IT', 'AIML', 'ECE'],
 'year': (1, 2, 3, 4),
 'prg': ['Python', 'C', 'Java'],
 'marks': (90, 96, 95)}

In [163]:
dic.popitem()

('marks', (90, 96, 95))

In [164]:
dic.pop(1)#specific item

'hi'

In [165]:
dic

{'clg': 'GIST',
 'dept': ['CSE', 'IT', 'AIML', 'ECE'],
 'year': (1, 2, 3, 4),
 'prg': ['Python', 'C', 'Java']}

In [166]:
# only one item
dic['new']=100
dic

{'clg': 'GIST',
 'dept': ['CSE', 'IT', 'AIML', 'ECE'],
 'year': (1, 2, 3, 4),
 'prg': ['Python', 'C', 'Java'],
 'new': 100}

In [167]:
for k,v in dic.items():
    print(k,v,sep=":")

clg:GIST
dept:['CSE', 'IT', 'AIML', 'ECE']
year:(1, 2, 3, 4)
prg:['Python', 'C', 'Java']
new:100

In [171]:
# write a python program of menu card in a restaurant
menu={'Biryani':150,'Fish Curry':150,'Fried Rice':100,
     'Manchurian':100,'Noodles':80,'Milk shake':90,
     'Ice Cream':50,'Water Bottle':20,'Cool Drink':25}
print("Items Available...\n")
for item,price in menu.items():
    print(item,"Rs.",menu[item],"/-")
order=input("place your order:").split(',')
bill=0
for item in order:
    if item in menu:
        bill+=menu[item]
    else:
        print("Sorry", item,"is not available...!")
print("Your bill=",bill)

Items Available...

Biryani Rs. 150 /-
Fish Curry Rs. 150 /-
Fried Rice Rs. 100 /-
Manchurian Rs. 100 /-
Noodles Rs. 80 /-
Milk shake Rs. 90 /-
Ice Cream Rs. 50 /-
Water Bottle Rs. 20 /-
Cool Drink Rs. 25 /-
place your order:cool drink
Sorry cool drink is not available...!
Your bill= 0

#### Files
- anything that contains data/information called as a file
- different kind of files in our device
    - .txt,.doc,.xls,.ppt,.mp3,.mp4,.exe,.py,.c,.java etc
    - apk(mobile)
- **File Operations**
    - file existance
    - open()
    - read()
    - write()
    - append()
    - close()

In [172]:
file=open("first.txt")
print(file)

<_io.TextIOWrapper name='first.txt' mode='r' encoding='cp1252'>

In [174]:
file=open('first.txt','r') # filename,mode-->'r' to read the file
print(file.read()) # read()
data=file.read()
type(data),type(file)

This day4 of DA workshop,
Today I have learned Data Structures in python and
Working with files.

(str, _io.TextIOWrapper)

In [175]:
# using readlines
with open("first.txt",'r') as lines:
    li=lines.readlines()
print(li) #list of lines

['This day4 of DA workshop,\n', 'Today I have learned Data Structures in python and\n', 'Working with files.']

In [177]:
py=open("second.py",'r')
prgm=py.read()
print(prgm)

print("welcome to DA Workshop")
def is_even(n):
    if n%2==0:
        return True
    else:return False


#is_even(9)